appnope==0.1.0
astroid==2.0.1
beautifulsoup4==4.6.3
bleach==2.1.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.1.2
dnspython==1.15.0
EasyProcess==0.2.3
entrypoints==0.2.3
Flask==1.0.2
Flask-Dance==1.1.0
gunicorn==19.9.0
html5lib==1.0b10
idna==2.6
imutils==0.4.5
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
isort==4.3.4
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
lazy==1.3
lazy-object-proxy==1.3.1
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
mistune==0.8.3
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.3
notebook==5.2.2
numpy==1.13.3
nxt-python==2.2.2
oauthlib==2.1.0
opencv-python==3.4.0.12
pandas==0.23.1
pandocfilters==1.4.2
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
Pillow==8.3.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pygame==1.9.3
Pygments==2.2.0
pylint==2.0.1
pymongo==3.7.2
PyMsgBox==1.0.6
pyparsing==2.2.0
pyscreenshot==0.4.2
PyScreeze==0.1.13
python-dateutil==2.6.1
PyTweening==1.0.3
pytz==2017.3
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
requests-oauthlib==1.0.0
scikit-learn==0.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sympy==1.1.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.22
URLObject==2.4.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.0.8
wiktionaryparser==0.0.97
wrapt==1.10.11
WTForms==2.2.1
